<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center">
    <h1>BEST MEMES</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>  <!-- This h3 tag if for JS? Not doing anything now -->
  </div>
</div>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <%= link_to "Go back", root_path, class: "btn btn-dark" %>
    <%= link_to "Create new meme", new_meme_path, class: "btn btn-dark" %>
  </div>

  <div class="row">
    <% @memes.each do |meme| %>
    <div class="col-4 mb-3">
        <div class="card">
          <div class="card-image">
            <% if meme.photo.key %>
              <%= cl_image_tag meme.photo.key, crop: :fill, class: 'w-100 h-100' %>
            <% else %>
              <%= image_tag('default-meme.jpg') %>
            <% end  %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= meme.description %></h5>
            <p class="card-text">$<%= meme.price %>
            <div class="card-text">
              <p>Belongs to <%= meme.user.email.split('@')[0] %></p>
            </div>
            <%= link_to "See detail here", meme_path(meme.id), class:"text-decoration-none btn btn-dark" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
