<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3 class="h3">Create a new meme</h3>
        <%= simple_form_for @meme do |f| %>
          <%= f.input :price, placeholder: '$1,000,000' %>
          <!--<span><%= f.input :image, as: :file %></span>-->
          <%= f.input :description, placeholder: 'This meme is garbage, no one will laugh at it' %>
          <%= f.input :photo, as: :file %>
          <%= f.submit class: 'btn btn-flat border border-danger rounded-pill'  %>
        <% end %>
      </div>
      <h2 class="text-primary m-4"><%= link_to "Go back to memes index page", memes_path %></h2>
    </div>
  </div>
</div>
