<!-- Anyone can see this page (don't block) for PUNDIT AUTHORIZATION  -->

<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1507808973436-a4ed7b5e87c9?q=80&w=2960&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1 class="cover mb-4 d-flex align-items-center justify-content-center">Are you looking for a Tech meme?</h1>
   <div class="cover mb-4 d-flex align-items-center justify-content-center">
    <span class="glow-on-hover">
      <%= link_to "See all funny memes", memes_path, class:"m-1 btn d-flex align-items-center justify-content-center"%>
      </span></div>
  </div>
</div>

<h1 class="cover mt-5 mb-4 d-flex align-items-center justify-content-center">Top Memes</h1>

<div class="container">
  <div class="row">
    <% @memes.each do |meme| %>
      <div class="col-4 mb-3">
        <div class="card">
          <div class="card-image">
            <% if meme.photo.key %>
              <%= cl_image_tag meme.photo.key, crop: :fill, class: 'w-100 h-100' %>
            <% else %>
              <%= image_tag('default-meme.jpg') %>
            <% end  %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= meme.title %></h5>
            <p class="card-text">$<%= meme.price %>
            <div class="card-text">
              <p>Belongs to <%= meme.user.email.split('@')[0] %></p>
            </div>
            <%= link_to "See detail here", meme_path(meme.id), class:"btn btn-info" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
