<!DOCTYPE html>
<html>
  <head>
    <title>MemebnbRails</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column vh-90 mt-5">
    <%= render "shared/navbar" %>
    <div class="flex-grow-1 mt-2">
    <%= render "shared/flashes" %>
    </div>
    <div class="flex-grow-1 mt-2">
      <%= yield %>
    </div>
    <% unless controller_name == "pages" && action_name =="home" %>
      <%= render "partials/back" %>
    <% end %>
    <%= render "shared/footer" %>
  </body>
</html>
